*{
  margin: 0;
  padding: 0;
  border: none;
	outline: none;
	box-sizing: border-box;
	font-family: '8-bit_operatorregular';
}


@font-face {
  font-family: '8-bit_operatorregular';
  src: url('../fonts/8bitoperatorplus-regular-webfont.woff2') format('woff2'),
       url('../fonts/8bitoperatorplus-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#font
{
	font-size: 24px;
	padding-top: 40px;
}

body
{
  margin:0;
  padding:0;
  height:100%;
	font-size: 28px;
	line-height:1.2em;
  color:#fff;
  background-image: url(../img/at.jpg);
  background-size: 1400px 1600px;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
a{
  cursor: pointer;
}
a:hover{
  color: #f1d45f;
}
header
{
  width: 100%;
  text-align: center;
  padding: 0px 0;
  height: 350px;
  border-bottom: 1.5px solid gold;
}

header ul li a
{
  margin: 0 5px;
  color: rgb(95, 105, 238);
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: '8-bit_operatorregular';
  padding-left: 50px;
  padding-right: 50px;
}

header ul li a:nth-child(odd)
{
  color: #f1d45f;
}

header ul li a:nth-child(even){
  color: #8467e4;
}

header ul li a:nth-child(odd):hover
{
  color: rgb(131, 61, 61);
}

header ul li a:nth-child(even):hover
{
  color: rgb(131, 61, 61);
}


.clearfix
{
	clear: both;
}

#container
{
	width: 330px;
	background:rgba(41, 39, 39, 0.6);
	overflow: auto;
  margin: 48px;
  margin-left: auto;
  margin-right: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 40px;
  border: rgb(14, 13, 13)solid 3px;
    box-shadow: 0px 0px 18px 7px rgb(14, 13, 13)

}

#audio-image
{
	position: relative;
	overflow: hidden;
	height: 200px;
	margin-bottom: 15px;
}

#audio-info
{
	text-align: center;
}

.cover
{
  padding-top: 40px;
  padding-left: 90px;
  width: 230px;
  height: 180px;
	z-index: 1;
}

input#volume 
{
	width: 95%;
	margin-left: 2%;
  -webkit-appearance: none !important;
  background: #ccc;
  height: 1px;
	margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb 
{
    -webkit-appearance: none !important;
    background: url(../images/knob.png) no-repeat;
    height: 12px;
    width: 12px;
}

#buttons
{
  
	width: 100%;
	display: block;
  margin: -13px auto;
	margin-left: 23px;
	overflow: auto;
}


button#play
{
	width: 70px;
	height: 70px;
	background: url(../images/play1.png) no-repeat;
	float:left;
}

button#pause
{
	width: 70px;
	height: 70px;
	background: url(../images/pause1.png) no-repeat;
	float:left;
}

button#stop
{
	width: 70px;
	height: 70px;
	background: url(../images/stop1.png) no-repeat;
	float:left;
}

button#prev
{
	width: 70px;
	height: 70px;
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin-top: 15px;
}

button#next
{
	width: 70px;
	height: 70px;
	background: url(../images/next.png) no-repeat;
	float: right;
	margin-top: 15px;
}

#playlist 
{
	text-align: justify;
    list-style-type: none;
	padding: 10px;
}

#playlist li 
{
    cursor: pointer;
    margin: 5px;
}

#tracker
{
	position: relative;
	width: 100%;
}

#playlist li.active 
{
	padding: 3px;
	background: #666;
}

#progressBar 
{ 
   width: 98%;
   margin-left: 2%;
   margin-bottom: 20px;
   margin-top: 9px;
   height: 10px;
   background: url(../images/progress_bg.png) no-repeat;
   float: left;
}

#progress 
{
   background: url(../images/progress.png) no-repeat;
   height: 10px;
   display: inline-block;

}

#duration {
  position: absolute;
  top: 0;
  right: 121px;
  padding: 0px 8px;
  background: rgba(116, 109, 109, 0.6);
  border-radius: 10px;
  font-size: 10px;
}

.socials
{
  padding-left: 50%;
  padding-top: 30px;
  font-size: 14px;
  
}

.social
{
  padding-left: 20px;
  left: 100%;
  text-decoration: none;
  color: rgb(114, 107, 117);
}

.social:nth-child(odd)
{
   color: #f1d45f;
}
.social:nth-child(even)
{
   color: #8467e4;
}
.social:nth-child(odd):hover
{
  color: rgb(131, 61, 61);
}
.social:nth-child(even):hover
{
  color: rgb(131, 61, 61);
}
  .social:hover
  {
    color: rgb(131, 61, 61);
  }

.main
{
  width: 100%;
  background-image: url(../img/charlie.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.logo1
{
  height: 150px;
  width: 150px;
  margin-right: 450px;
}

.logo2
{
  height: 150px;
  width: 650px;
  margin-right: 600px;
}




footer
{
  position:absolute;
	bottom:0;
  font-size: 40px;
  width: 100%;
  height: 90px;
  padding-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
  border-top: 1.5px solid gold;
}

.about{
  margin-top: 20px;
  background-size: cover;
  height: 80px;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 29px;
  color: white;
}
.about.igm{
  height: 80px;
  width: 600px;
}
.abouth3{
  text-align: center;
}

.gameplay{
  margin-top: 20px;
  background-size: cover;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 24px;
}
.gameplayh3{
text-align: center;
}
.gameplay.igm{
  height: 800px;
  width: 500px;
  background-size: contain;
  
  background-repeat: no-repeat;
}

@media(min-width: 320px){
  #duration {
    right: 4px;
  }
  #playlist {
    font-size: 12px;
}
#progressBar {
  width: 77%;
}

}

@media(min-width: 700px)
{
  .logo1 
  {
    height: 70px;
    width: 70px;
    margin-right: 0px;
  }

  .logo2 
  {
    height: 70px;
    width: 350px;
    margin-right: 0px;
  }

  .socials
  {
    padding-left: 75%;
    padding-top: 30px;
    font-size: 14px;
    
  }
  
  .social
  {
    padding-left: 20px;
    left: 100%;
    text-decoration: none;
  }

  header ul li a 
  {
    font-size: 45px;
    padding-left: 0px;
    padding-right: 0px;
  }

  header 
  {
    height: 165px;
  }

  #font 
  {
    padding-top: 0px;
  }

  #container 
  {
    width: 230px;
  }

  #buttons 
  {
    margin-left: 0px;
    padding-left: 105px;
  }

  button#prev 
  {
    width: 73px;
    cursor: pointer;
    height: 70px;
    margin-top: 15px;
    background: url(../images/prev.png) no-repeat;
  }

  button#next 
  {
    width: 175px;
    cursor: pointer;
    height: 70px;
    margin-top: 15px;
    background: url(../images/next.png) no-repeat;
  }

  button#play 
  {
    background: url(../images/play1.png) no-repeat;
    width: 40px;
    margin-top: 15px;
    cursor: pointer;
  }

  button#pause 
  {
    outline: 0;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    background: url(../images/pause1.png) no-repeat;
  }

  button#stop 
  {
    width: 40px;
    margin-top: 15px;
    cursor: pointer;
    background: url(../images/stop1.png) no-repeat;
  }

  #audio-info 
  {
    font-size: 21px;
  }

  #audio-image 
  {
    height: 100px;
    margin-bottom: 10px;
    margin-left: 110px;
  }

  .cover 
  {
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 75px;
    height: 160px;
  }

  #playlist 
  {
    font-size: 21px;
  }
  #duration {
    right: 13px;
}
  footer 
  {
    font-size: 24px;
    height: 30px;
    padding-top: 0px;
    position: unset;
  }
}

@media (min-width: 960px)
{
  .logo1 
  {
    height: 100px;
    width: 100px;
    margin-right: 0px;
  }
  
  .logo2 
  {
    height: 100px;
    width: 250px;
    margin-right: 0px;
  }

  .socials 
  {
    font-size: 9px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: end;
  }
  .social
  {
    padding-left: 5px;
  }

  header ul li a 
  {
    font-size: 45px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #font {
    padding-top: 0px;
}

  header 
  {
    height: 245px;
  }

  #container 
  {
    margin: 20px 20px;
  }
}

@media (min-width: 970px){
  .main {
    height: 244px;
}
header {
    height: 245px;
}
}

@media (min-width: 1024px)
{
  header 
  {
    height: 245px;
  }

  #container 
  {
    margin: 20px 30px;
    height: auto;
  }

  .logo1 
  {
    height: 100px;
    width: 100px;
  }
  
  .logo2 
  {
    height: 100px;
    width: 250px;
  }

  .socials 
  {
    font-size: 9px;
  }

  .social
  {
    padding-left: 5px;
  }

  header ul li a 
  {
    font-size: 45px;
  }
  
  footer 
  {
    font-size: 20px;
    height: 30px;
    padding-top: 0px;
  }
}

@media (orientation: portrait) 
{
    @media (min-width: 320px) 
    {
      header {
        height: 100px;
        padding: 0px 0px;
    }

    #font {
      padding-top: 0px;
      border-bottom: 1.5px solid gold;
      background-color: black;
  }
      ul {
    padding-top: 62px;
}

      .socials 
      {
        font-size: 7px;
        text-align: end;
        padding-right: 5px;
        padding-left: 0px;
        padding-top: 5px;
      }

      .social
      {
        padding-left: 0px;
      }

      .logo1 
      {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }
      .logo2 
      {
        height: 50px;
        width: 132px;
        margin-right: auto;
        margin-left: auto;
      }

      header ul li a {
        font-size: 17px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 1px;
    }

    #container 
    {
      margin: 60px 47px;
      width: 230px;
    }

    #audio-image 
    {
      height: 100px;
      margin-bottom: 10px;
    }

    .cover 
    {
      padding-top: 10px;
      padding-bottom: 50px;
      padding-left: 65px;
      padding-right: 65px;
      height: 150px;
    }

    #audio-info 
    {
      font-size: 14px;
    }

    #playlist 
    {
      font-size: 14px;
    }

    #buttons
    {
        margin-left: 0px;
    }

    button#play 
    {
      background: url(../images/play1.png) no-repeat;
      width: 40px;
      margin-top: 15px;
      outline: 0;
    }

    button#pause 
    {
      outline: 0;
      width: 40px;
      margin-top: 15px;
      background: url(../images/pause1.png) no-repeat;
    }

    button#stop 
    {
      outline: 0;
      width: 40px;
      margin-top: 15px;
      background: url(../images/stop1.png) no-repeat;
    }

    button#prev 
    {
      width: 71px;
      background: url(../images/prev.png) no-repeat;
    }
    button#next 
    {
      width: 73px;
      background: url(../images/next.png) no-repeat;
    }  
  
    footer
    {
      font-size: 7px;
      height: 30px;
      padding-top: 0px;
      position: unset;
    }
  }

    @media (min-width: 360px)
    {
      #container {
        margin: 60px 70px;
    }

      .cover 
      {
        padding-top: 15px;
        padding-bottom: 58px;
        padding-left: 60px;
        padding-right: 75px;
        height: 160px;
      }
    }

    @media (min-width: 375px)
    {
      #container {
        margin: 60px 75px;
    }
    .socials {
      font-size: 8px;
  }
    }
  
    @media (min-width: 410px)
    {
      #container {
        margin: 60px 92px;
        margin-left: auto;
        margin-right: auto;
    }  .socials {
      font-size: 8px;
  }
    }
    @media (min-width: 530px)
    {
      .main {
        height: 110px;
    }
    #font {
      padding-top: 65px;
  }header {
    height: 110px;
}
  
    }
    @media (min-width: 700px)
    {
      #container {
        margin-left: auto;
        margin-right: auto;
        width: 306px;
    }
    #buttons {
      padding-left: 37px;
  }
  button#next {
    width: 112px;
}
#audio-image {
  margin-left: 45px;
}
    }
    @media (min-width: 768px)
    {
      .logo1 
      {
        height: 70px;
        width: 70px;
        margin-right: 5px;
        margin-left: 30px;
      }

      .logo2 
      {
        height: 130px;
        width: 400px;
      }

      .socials
      {
        font-size: 12px;
      }

      header ul li a 
      {
        font-size: 36px;
        margin: 0 2px
      }

      header 
      {
        height: 190px;
      }

      #container 
      {
        margin-left: auto;
        margin-right: auto;
          width: 312px;
      
      }
      #buttons {
        margin-left: 5px;
        width: auto;
    }
    button#next {
      width: 113px;
  }
  #audio-image {
    margin-left: 45px;
}
.main {
  height: 189px;
}
#font {
  padding-top: 2px;
}
ul {
  padding-top: 143px;
}

    }

    @media (min-width: 975px) 
    {
      .logo1 
      {
        height: 70px;
        width: 70px;
      }
      
      .logo2 
      {
        height: 150px;
        width: 450px;
      }
      #font {
        padding-top: 215px;
    }
    .main {
      height: 244px;
  }
      .socials 
      {
        font-size: 9px;
      }

      header ul li a 
      {
        font-size: 40px;
      }

      header 
      {
        height: 245px;
      }

      #container 
      {
        margin: 70px 20px;
      }
      .cover {
        padding-top: 15px;
        padding-bottom: 60px;
        padding-left: 60px;
        padding-right: 75px;
        height: 160px;
    }
    #container {
      width: 230px;
      margin-left: auto;
      margin-right: auto;
  }
    }


    @media (min-width: 1024px)
    {
      header 
      {
        height: 245px;
      }

      #container 
      {
        margin: 122px 30px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 313px;
      }

      .logo1 
      {
        height: 100px;
        width: 100px;
        margin-right: 5px;
        margin-left: 30px;
      }
      
      .logo2 
      {
        height: 150px;
        width: 450px;
      }

      .socials 
      {
        font-size: 16px;
        padding-right: 5px;
        padding-left: 0px;
      }

      .social
      {
        padding-left: 5px;
      }

      header ul li a 
      {
        font-size: 40px;
      }
      #font {
        padding-top: 4px;
    }
    ul {
      padding-top: 188px;
  }
      
      footer 
      {
        font-size: 20px;
        height: 40px;
        padding-top: 0px;
        position: sticky;
      }
    }
} 

@media (orientation: landscape) 
{
  @media (min-width: 320px)
  {
    
    header 
    {
      height: 145px;
    }

    .socials 
    {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 10px;
      text-align: end;
      padding-right: 5px;
    }

    .social 
    {
      padding-left: 5px;
    }

    #font 
    {
      padding-top: 150px;
   }
   #container {
      margin-bottom: 50px;
      margin-top: 70px;
  
}

    .logo1 
    {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    .logo2 
    {
      height: 50px;
      width: 150px;
      margin-right: 10px;
    }

    header ul li a 
    {
      font-size: 28px;
      padding-left: 0px;
      padding-right: 0px;
    }

    footer 
    {
      height: auto;
      font-size: 12px;
      position: unset;
      padding-top: 0px;
    }
  }

  footer 
  {
    height: auto;
    font-size: 12px;
    position: unset;
    padding-top: 0px;
  }
  @media (min-width: 533px){
   
  header {
    height: 176px;
} 

#buttons
{
	width: 100%;
	display: block;
  margin: -13px auto;
	margin-left: 46px;
	overflow: auto;
}


button#play
{
	width: 44px;
	height: 70px;
	background: url(../images/play1.png) no-repeat;
  float:left;
  margin-top: 15px;
}

button#pause
{
	width: 42px;
	height: 70px;
	background: url(../images/pause1.png) no-repeat;
  float:left;
  margin-top: 15px;
}

button#stop
{
	width: 34px;
	height: 70px;
	background: url(../images/stop1.png) no-repeat;
  float:left;
  margin-top: 15px;
}

button#prev
{
	width: 73px;
	height: 70px;
	background: url(../images/prev.png) no-repeat;
	float: left;
	margin-top: 15px;
}

button#next
{
	width: 165px;
	height: 70px;
	background: url(../images/next.png) no-repeat;
	float: right;
	margin-top: 15px;
}
#font {border-top: 1.5px solid gold;
  border-bottom: 1.5px solid gold;
  padding-top: 0px;
  background-color: black;
}
ul {
  padding-top: 106px;
}

  }
  @media (min-width: 700px)
  {
    #container {
      width: 439px;
      
  }
  #buttons {
    width: 100%;
    display: block;
    margin: -13px auto;
    margin-left: -6px;
    overflow: auto;
}
  .socials {
    padding-left: 50%;
}
  .socials {
    font-size: 10px;
}

  }
  @media (min-width: 768px)
  {
    .logo1 
    {
      height: 70px;
      width: 70px;
      margin-right: 5px;
      margin-left: 30px;
    }

    .logo2 
    {
      height: 70px;
      width: 230px;
    }

    .socials
    {
      font-size: 9px;
    }

    header ul li a 
    {
      font-size: 48px;
      margin: 0 10px;
    }

    header 
    {
      height: 190px;
    }

    #container 
    {
      margin: 20px 280px;
        margin: 20px 280px;
        width: 439px;
        margin-left: auto;
        margin-right: auto;
    
    }
  }

  @media (min-width: 800px)
  {
    
    header 
    {
      height: auto;
    }
    #progressBar {
      width: 85%;
  }
  #duration {
    right: 8px;
}#buttons {
  width: 100%;
  display: block;
  margin: -13px auto;
  margin-left: -6px;
  overflow: auto;
}
    .socials 
    {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 11px;
      text-align: end;
      padding-right: 5px;
    }

    .social 
    {
      padding-left: 0px;
    }

    .logo1 
    {
      height: 50px;
      width: 50px;
      margin-right: 5px;
        margin-left: 30px;
    }header {
      border-bottom: 0px solid gold;
  }
  button#next {
    width: 169px;
}
    .logo2 
    {
      height: 110px;
      width: 380px;
      margin-right: 10px;
    }

    header ul li a 
    {
      font-size: 28px;
      margin: 0 10px;
    }

    footer 
    {
      font-size: 14px;
      position: unset;
    }
  }

  @media (min-width: 960px) 
  {
    .logo1 
    {
      height: 70px;
      width: 70px;
    }
    
    .logo2 
    {
      height: 140px;
      width: 400px;
    }

    .socials 
    {
      font-size: 9px;
    }

    header ul li a 
    {
      font-size: 48px;
      margin: 0 10px;
    }

    header {
      height: 245px;
  }
  #font {
    padding-top: 2px;
}
ul {
  padding-top: 203px;
}
    #container 
    {
      margin: 90px 20px;
    }
    .cover {
      padding-top: 15px;
      padding-bottom: 57px;
      padding-left: 60px;
      padding-right: 75px;
      height: 160px;
  }
  footer{
    position: unset;
  }
  #container {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
}
  }


  @media (min-width: 1024px)
  {
    header 
    {
      height: 222px;
    }
    #progressBar {
      width: 84%;
  }
  #duration {
    right: 10px;
}
    #container 
    {
      margin: 70px 30px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .logo1 
    {
      height: 70px;
      width: 70px;
      margin-right: 5px;
      margin-left: 30px;
    }
    
    .logo2 {
      height: 134px;
      width: 351px;
      margin-left: auto;
      margin-right: auto;
  }
  #font {
    padding-top: 198px;
}

    .socials 
    {
      font-size: 14px;
      padding-right: 5px;
      padding-left: 0px;
    }
    ul {
      padding-top: 171px;
      border-bottom: 0px solid gold;
  }
  #font {
    padding-top: 5px;
    background-color: black;
}
    .social
    {
      padding-left: 5px;
    }

    header ul li a 
    {
      font-size: 35px;
      margin: 0 10px;
    }
    .main {
      height: 219px;
  }
    footer 
    {
      font-size: 20px;
      height: 30px;
      padding-top: 0px;
      position: unset;
    }
    #buttons {
      width: 100%;
      display: block;
      margin: -13px auto;
      margin-left: -3px;
      overflow: auto;
  }
  }

  @media (min-width: 1200px){
    .main {
      height: 281px;
  }
  ul {
    padding-top: 235px;
    
}
#font {
  padding-top: 5px;
  background-color: black;
}
#progressBar {
  width: 85%;
}
#duration {
  right: 8px;
}
header {
  height: 282px;
}
  }
  @media (min-width: 1366px)
  {
    header 
    {
      padding: 5px 0;
    }

    #container 
    {
      margin: 80px 30px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .logo1 
    {
      height: 100px;
      width: 100px;
      margin-right: 5px;
      margin-left: 30px;
    }
    
    .logo2 {
      height: 220px;
      width: 610px;
      margin-left: auto;
      margin-right: auto;
  }
  #progressBar {
    width: 85%;
}
#duration {
  right: 8px;
}
    .socials 
    {
      font-size: 15px;
      padding-right: 5px;
      padding-left: 0px;
    }

    .social
    {
      padding-left: 0px;
    }

    header ul li a 
    {
      font-size: 40px;
      margin: 0 10px;
    }

    body{
      font-size: 19.8px;
    }
    .main {
      height: 288px;
  }
  header {
    height: 288px;
}
#font {
  padding-top: 14px;
  padding-bottom: 9px;
  border-top: 1.5px solid gold;
  background-color: black;
}
ul {
  padding-top: 232px;
}
    footer 
    {
      font-size: 18px;
      height: 30px;
      padding-top: 0px;
      position: unset;
    }
    #buttons {
      width: 100%;
      display: block;
      margin: -13px auto;
      margin-left: -4px;
      overflow: auto;
  }
  }
  }
  @media (min-width: 1600px)
  {
    header {
      height: 384px;
  }
  #font {
    border-top: 1.5px solid gold;
    padding-top: 12px;
}
header ul li a {
  font-size: 40px;
}
ul {
  padding-top: 323px;
}
.main {
  height: 384px;
}
  }
  @media (min-width: 1700px)
  {
    header {
      height: 384px;
  }
  #font {
    padding-top: 15px;
}
ul {
  padding-top: 323px;
}
header ul li a {
  font-size: 40px;
}
footer {
  position: fixed;
}
#container {
  margin: 220px 30px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.main {
  height: 384px;
}
  }
  @media (min-width: 1920px)
  {
    header {
      height: 384px;
  }
  #font {
    padding-top: 15px;
}
header ul li a {
  font-size: 40px;
}
.main {
  height: 384px;
}
  }
}