*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Legendaria;
}

body 
{
  font-size: 14px;
  color:#000;
  line-height: 1.2em;
  font-size: 28px;
}

header
{
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

header ul li a
{
  margin: 0 5px;
  color: rgb(95, 105, 238);
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Legendaria;
  padding-left: 50px;
  padding-right: 50px;
}

header ul li a:nth-child(odd)
{
  /* color: #f1d45f; */
  color: #8467e4;
}

header ul li a:nth-child(even)
{
  color: #f1d45f;
}

header ul li a:nth-child(odd):hover
{
  color: rgb(131, 61, 61);
}

header ul li a:nth-child(even):hover
{
  color:rgb(131, 61, 61);
}

footer
{
  font-size: 40px;
  width: 100%;
  height: auto;
  padding-top: 40px;
  color: white;
  /* color: rgb(67, 138, 138); */
  background-color: black;
  /* background-color: rgba(188, 199, 216, 0.6); */
  text-align: center;
  border-top: 1.5px solid rgb(189, 12, 12);
}

@font-face
{
    font-family: Legendaria;
    src: url(fonts/Legendaria.ttf);
}

#font
{
    font-family: Legendaria;
    font-size: 24px;
    margin-top: 340px;
}

.main
{
  width: 100%;
  background-image: url(img/recyc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

/*HEAD SECTION STYLE*/
.fixed { 
  position: fixed;
  background: url(img/logo.jpg);
  background-size: 400px 150px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: 100%;
  height: auto;
  /* padding-bottom: 500px; */
	top: 0;
  left: 0;
  background-color: rgba(5, 5, 5, 0.4);
	z-index: 3;
}

.fixed #font{
  margin-top: 150px;
}

.logo1
{
  height: 150px;
  width: 150px;
  margin-right: 450px;
}

.logo2
{
  height: 150px;
  width: 650px;
  margin-right: 600px;
}

/* span:nth-child(odd)
{
  color: #f1d45f;
}
span:nth-child(even){
  color: #7657db;
}

span:nth-child(odd):hover
{
  color: #f1d45f;
}
span:nth-child(even):hover
{
  color: #7657db;
} */

.infoGame
{
  background-color: #000;
}

.infoGame .text 
{
  float: right;
  padding: 25px 60px;
  width: auto;
}

.infoGame .text1
{
  float: right;
  padding-top: 100px;
  padding-right: 60px;
  width: auto;
}

.wideo
{
  width: 390px;
  height: 390px;
  float: left;
}

iframe
{
  width: 490px;
  height: 390px;
  margin-top: 40px;
  margin-left: 100px;
  box-shadow: 0px 0px 8px 3px rgb(114, 122, 122);
}

.headingName
{
  font-size: 40px;
  text-align: center;
  color: rgb(160, 64, 64);
}

.infoGame h3
{
  text-align: center;
  font-size: 50px;
  padding-top: 25px;
  margin: 0;
  /* color: rgb(67, 138, 138); */
  color: white;
}

.infoGame img
{
  height: 350px;
  width: 350px;
  padding-left: 3%;
  padding-top: 25px;
}

h3
{
  text-transform: uppercase;
  margin: 0;
}

.textInfoGame1
{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 650px;
  /* color: rgb(67, 138, 138); */
  color: white;
  font-size: 22px;
  text-align: left;
}

.textInfoGame2
{
  padding-top: 10px;
  padding-bottom: 70px;
  width: 100%;
  padding-right: 100px;
  padding-left: 550px;
  text-align: center;
  /* color: rgb(67, 138, 138); */
  color: white;
  font-size: 22px;
}

.textInfoGame3
{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 400px;
  /* color: rgb(67, 138,0138); */
  color: white;
  font-size: 22px;
  text-align: left;
} 

.sectionFoto
{
 background-image: url(img/Oddventure.jpg);
 height: 880px;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-position: top center;
}

.sectionFoto .bg h3
{
  text-align: center;
  font-size: 50px;
  /* color: black; */
  color: white;
  padding-top: 120px;
}

.secionMovie
{
  height: 500px;
  /* background-color: pink; */
  background-color: black;
}

/* Swiper */ 
.swiper-container 
{
  width: 45%;
  padding-top: 50px;
  padding-bottom: 80px;
}

.swiper-slide 
{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 450px;
  margin-top: 30px;
}

.swiper-slide .imgBx
{
  width: 100%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgb(240, 247, 247);
}

.swiper-slide .details
{
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 8px 3px rgb(114, 122, 122);
}

.swiper-slide .details h3
{
  margin: 0;
  padding: 0;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.swiper-slide .details h3 span
{
  font-size: 24px;
  color: black;
  text-transform: none;
}

div.swiper-wrapper
{
  height: 50%;
}

.img1
{
  height: 300px;
  width: 300px;
}

/* Slider */
img
{
  width: 680px;
  height: 280px;
}

#slider
{
  width: 700px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border: 10px solid white;
  box-shadow: 0px 0px 8px 3px rgba(225, 231, 231, 0.6);
  top: 280px;
}

button
{
  padding: 20px;
  border: none;
  background: rgb(176, 191, 228);
  font-size: 30px;
  color: white;
  position: absolute;
  top:45%;
  cursor: pointer;
  outline: 0;
}

.next
{
  border-radius: 10px 0px 0px 5px;
  margin-left: 632px;
}

.prew
{
  border-radius: 0px 10px 10px 0px;
}

header div a
{
  height: 34px;
  width: 34px;
}

.socials
{
  text-align: end;
  padding-right: 5px;
  padding-top: 20px;
}

.social
{
  padding-left: 20px;
  left: 100%;
  text-decoration: none;
  /* color: rgb(114, 107, 117); */
  color: rgb(114, 107, 117);
}

.social:hover
{
  color: rgb(131, 61, 61);
}

a
{
  text-decoration: none;
}


.carousels
{
  height: 850px;
  /* background-color: rgba(188, 199, 216, 0.6); */
  background-color: black;
}

div.carousel
{
  perspective: 800px;
  height: 800px;
}

.carousel .carousel-item
{
  width: 400px;
  padding-bottom: 600px;
}

img.imgcarusel
{
  width: 300px;
  height: 300px;
}

.carousels h3
{
  text-align: center;
  font-size: 70px;
  color: white;
  padding: 0;
  margin: 0;
  /* padding-left: 1333px; */
}


.carousel .carousel-item h2
{
  background-color: rgba(194, 204, 219, 0.6);
  color: white;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 0;
  width: 300px;
  margin-bottom: 7px;
}

.carousel .carousel-item p
{
  font-size: 2em;
  line-height: normal;
  color: white;
  padding: 10px 5px;
  margin: 0;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: rgba(194, 204, 219, 0.6);
}

@media (min-width: 320px) 
  {
    .fixed
    {
      height: 130px;
    }

    .socials 
    {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 7px;
    }

    .social{
        padding-left: 3px;
        padding-right: 2px;
    }

    .logo1 
    {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

   .logo2 
    {
     height: 50px;
     width: 150px;
     margin-right: 10px;
    }

    header ul li a 
    {
      font-size: 28px;
      padding-left: 0px;
      padding-right: 0px;
    }

    /* .main 
    {
      height: 100vh;
    } */

    .infoGame h3 
    {
      font-size: 30px;
    }

    .textInfoGame1
    {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 16px;
    }

    .textInfoGame2 
    {
      padding-right: 5px;
      padding-left: 5px;
      font-size: 16px;
    }

    .textInfoGame3
    {
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 25px;
      font-size: 16px;
      text-align: center;
    }
    
    .infoGame img 
    {
      height: 150px;
    }

    .infoGame .text 
    {
      padding: 25px 70px;
    }

    .infoGame .text1 
    {
      padding-right: 20px;
      width: auto;
      padding-top: 0px;
    }
    
    .wideo 
    {
      width: 190px;
      height: 190px;
      float: none;
      display: block;
      margin: 0 auto;
      border: 0px;
    }

    iframe 
    {
      margin-left: 65px;
    }

    img.imgcarusel 
    {
      width: 150px;
      height: 150px;
      margin-left: 25px;
    }
  
    .carousel .carousel-item 
    {
      padding-top: -150px;
      padding-bottom: 0px;
    }

    .carousel .carousel-item p 
    {
      width: 150px;
      height: 150px;
      font-size: 16px;
      margin-left: 25px;
    }

    .carousel .carousel-item h2 
    {
      font-size: 25px;
      width: 150px;
      margin-bottom: 7px;
      margin-left: 25px;
    }

    .carousels h3 
    {
      font-size: 30px;
      color: white;
    }
    
    div.carousel 
    {
      height: 600px;
      margin-top: -170px;
    }

    .carousels
    {
      height: auto;
      padding-top: 20px;
    }

    footer
    {
      font-size: 13px;
      padding-top: 5px;
    }
  }

  @media (min-width: 360px)
  {  
    .infoGame .text 
    {
      padding: 20px;
    }

    iframe 
    {
    margin-left: 90px;
    }
  }

  @media (min-width: 375px)
  {
    iframe 
    {
    margin-left: 95px;
    }
  }

  @media (min-width: 410px)
  {
    iframe 
    {
     margin-left: 38%;
    }
  }

  @media (min-width: 760px)
  {
    .socials
    {
      font-size: 10px;
    } 

    .logo1 
    {
      height: 100px;
      width: 100px;
      margin-right: 5px;
      margin-left: 30px;
    }

    .logo2 
    {
      height: 100px;
      width: 270px;
    }

    header ul li a 
    {
      font-size: 48px;
    }
    
    .fixed 
    {
      height: 210px;
    }
  
    .infoGame h3 
    {
      font-size: 45px;
    }

    .textInfoGame1 
    {
      font-size: 30px;
    }

    .wideo 
    {
      width: auto;
    }

    iframe 
    {
      margin-left: 235px;
    }

    .textInfoGame2 
    {
      font-size: 25px;
    }

    .textInfoGame3 
    {
      font-size: 20px;
    }

    .infoGame .text 
    {
      height: 200px;
    }

    footer 
    {
      font-size: 20px; 
    }
  }

  @media (min-width: 970px){
    .main
{
  height: 250px;
}
  }

  @media (min-width: 1024px)
  {
    .main
{
  height: 300px;
}
    .socials 
    {
      font-size: 12px;
    }
    
    .logo1 
    {
      height: 150px;
      width: 140px;
    }

    .logo2 
    {
      height: 150px;
      width: 450px;
    }

    .fixed
    {
      height: 255px;
    }

    iframe 
    {
      margin-left: 290px;
    }

    .infoGame img 
    {
      height: 300px;
    }

    .wideo 
    {
      width: 450px;
      height: 300px;
    }

    div.carousel 
    {
      height: 750px; 
    }

    img.imgcarusel 
    {
      width: 250px;
      height: 250px;
    }

    .carousel .carousel-item h2 
    {
      width: 250px;
    }

    .carousel .carousel-item p 
    {
      width: 250px;
      height: 150px;
    }

  }
  
  /* @media (min-width: 1324px){
    .main{
      height: 400px;
    }
  }
  @media (min-width: 1366px)
  {
    .main{
      height: 500px;
    }
  } */

@media (orientation: portrait) 
{

  @media (min-width: 320px) 
  {
    .fixed
    {
      height: 110px;
      background-size: 200px 70px;
      padding-bottom: 95px;

    }

    .fixed #font {
      margin-top: 45px;
  }

  .fixed .socials{
    margin-top: 0px;
  }

    .socials 
    {
      /* margin-top: 82px; */
      padding-top: 3px;
      /* padding-bottom: 0px; */
      font-size: 5px;
    }

    .social
    {
      padding-left: 0px;
    }

    .logo1 
    {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

   .logo2 
    {
     height: 50px;
     width: 150px;
     margin-right: 10px;
    }

    header ul li a 
    {
      font-size: 24px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .main 
    {
      height: 130px;
    }
    #font{
      margin-top: -58px;
    }

    .infoGame h3 
    {
      font-size: 30px;
      /* padding-top: 60px; */
    }
    
    .textInfoGame1
    {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 19px;
    }

    .textInfoGame2 
    {
      padding-right: 5px;
      padding-left: 5px;
      font-size: 19px;
    }

    .textInfoGame3
    {
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 25px;
      font-size: 16px;
      text-align: center;
    }
    
    .infoGame img 
    {
      height: 150px;
    }

    .infoGame .text 
    {
      padding: 25px 70px;
    }

    .infoGame .text1 
    {
      padding-right: 20px;
      width: auto;
      padding-top: 0px;
    }
    
    .wideo 
    {
      width: 190px;
      height: 190px;
      float: none;
    }

    iframe 
    {
      margin-left: 65px;
    }

    img.imgcarusel 
    {
      width: 150px;
      height: 150px;
      margin-left: 25px;
    }
  
    .carousel .carousel-item 
    {
      padding-top: -150px;
      padding-bottom: 0px;
    }

    .carousel .carousel-item p 
    {
      width: 150px;
      height: 150px;
      font-size: 16px;
      margin-left: 25px;
    }

    .carousel .carousel-item h2 
    {
      font-size: 25px;
      width: 150px;
      margin-bottom: 7px;
      margin-left: 25px;
    }

    .carousels h3 
    {
      font-size: 30px;
      color: white;
    }
    
    div.carousel 
    {
      height: 600px;
      margin-top: -170px;
    }

    .carousels
    {
      height: auto;
      padding-top: 20px;
    }

    footer
    {
      font-size: 13px;
      padding-top: 5px;
    }
  }

  @media (min-width: 360px)
  {  
    /* .main{
      height: 90px;
    } */
    /* .socials{
      margin-top: 90px;
    } */
    #font{
      margin-top: -57px;
    }
    /* .infoGame h3 {
      padding-top: 35px;
   } */

    .infoGame .text 
    {
      padding: 20px;
    }

    iframe 
    {
    margin-left: 90px;
    }
  }

  @media (min-width: 375px)
  {
    /* .main{
      height: 94px;
    } */
    /* .socials{
      margin-top: 95px;
    } */
    iframe 
    {
    margin-left: 95px;
    }
  }

  @media (min-width: 410px)
  {
    /* .main{
      height: 103px;
    } */
    /* .socials{
      margin-top: 105px;
    } */

    iframe 
    {
      margin-left: 28%;
    }
  }

  @media (min-width: 660px)
  {
    .main{
      height: 190px;
    }
    .socials {
      font-size: 7px;
  }
  header ul li a {
    font-size: 30px;
}
  }
  @media (min-width: 768px)
  {
    .main{
      height: 192px;
    }
    .socials{
      margin-top: 25px;
      font-size: 8px;
    }
    #font{
      margin-top: -80px;
    }
    /* .infoGame h3 {
      padding-top: 80px;
   } */
   .fixed #font{
     margin-top: 90px;
   }
   .fixed{
     background-size: 350px 100px;
   }

    .logo1 
    {
      height: 70px;
      width: 70px;
      margin-right: 5px;
      margin-left: 30px;
    }

    .logo2 
    {
      height: 70px;
      width: 250px;
    }

    header ul li a 
    {
      font-size: 40px;
      margin: 0 10px;
    }
    
    .fixed 
    {
      height: 170px;
    }
  
    .infoGame h3 
    {
      font-size: 45px;
    }

    .textInfoGame1 
    {
      font-size: 24px;
    }

    .wideo 
    {
      width: auto;
    }

    iframe 
    {
      margin-left: 235px;
    }

    .textInfoGame2 
    {
      font-size: 24px;
    }

    .textInfoGame3 
    {
      font-size: 20px;
    }

    .infoGame .text 
    {
      height: 200px;
    }
   
    footer 
    {
      font-size: 20px; 
    }
  }
  @media (min-width: 970px){
    /* .main{
      height: 220px;
    } */
    header ul li a {
      font-size: 45px;
  }
  .socials {
    font-size: 9px;
}

  }

  @media (min-width: 1024px)
  {
    .main{
      height: 256px;
    }
    #font{
      margin-top: -88px;
    }
    .fixed {
      background-size: 400px 150px;
  }
   .fixed #font{
     margin-top: 155px;
   }
    .socials 
    {
      font-size: 12px;
      padding-right: 5px;
      padding-left: 0px;
      margin-top: 25px;
    }
    
    .logo1 
    {
      height: 100px;
      width: 100px;
      margin-right: 5px;
      margin-left: 30px;
    }

    .logo2 
    {
      height: 100px;
      width: 250px;
    }

    header ul li a 
    {
      font-size: 50px;
      margin: 0 10px;
    }
    
    .fixed
    {
      height: 255px;
    }

    iframe 
    {
      margin-left: 290px;
    }

    .infoGame img 
    {
      height: 300px;
    }

    .wideo 
    {
      width: 450px;
      height: 300px;
    }

    div.carousel 
    {
      height: 750px;
   }

    img.imgcarusel 
    {
      width: 250px;
      height: 250px;
      margin-left: -25px;
    }

    .carousel .carousel-item h2 
    {
      width: 250px;
      margin-left: -25px;
    }

    .carousel .carousel-item p 
    {
      width: 250px;
      height: 150px;
      margin-left: -25px;
    }
  }
}

@media (orientation: landscape)
{
  @media (min-width: 530px){
    
    .main{
      height: 150px;
    }
    .socials {
      padding-top: 15px;
      font-size: 6px;
  }
  #font {
    margin-top: -65px;
}
    /* .infoGame h3 {
      padding-top: 56px;
  } */
  .fixed {
    height: 123px;
    background-size: 250px 80px;
}
.fixed .socials{
  padding-top: 0px;
}
.fixed #font {
  margin-top: 60px;
}
  }
  @media (min-width: 812px)
  {
    .main{
      height: 190px;
    }
      .logo1 
      {
          height: 50px;
          width: 50px;
      }

      .logo2 
      {
          height: 50px;
          width: 170px;
      }

      .fixed 
      {
         height: 130px; 
      }

      header ul li a 
      {
          font-size: 28px;
      }

    

      div.follow .follow1 
      {
          padding-right: 14px;
      }

      .socials 
      {
          font-size: 7px;
      }
  }


  @media (min-width: 900px){
      .main{
        height:220px;
      }
      header ul li a {
        font-size: 45px;
    }
    .socials {
      font-size: 9px;
  }
  }
  @media (min-width: 1024px)
  {
    .logo1 
      {
          height: 70px;
          width: 70px;
      }

      .logo2 
      {
          height: 70px;
          width: 250px;
      }

      .fixed 
      {
         height: 225px; 
      }

      header ul li a 
      {
          font-size: 45px;
      }

      .main{
        height: 300px;
      }
      /* header 
      {
          height: 145px;
      } */
      .fixed{
        background-size: 430px 150px;
      }
      .fixed #font {
        margin-top: 150px;
    }

      div.follow .follow1 
      {
          padding-right: 14px;
      }

      .socials 
      {
          font-size: 9px;
      }

    img.imgcarusel 
    {
      margin-left: -20px;
    }
    
    .carousel .carousel-item h2 
    {
      margin-left: -20px;
    }

    .carousel .carousel-item p 
    {
      margin-left: -20px;
    }
}

  @media (min-width: 1366px)
  {
    .logo1 
      {
          height: 100px;
          width: 100px;
      }

      .logo2 
      {
          height: 150px;
          width: 470px;
      }

      .fixed 
      {
         height: 240px; 
      }

      header ul li a 
      {
          font-size: 45px;
          margin: 0 10px;
      }

    .main{
      height: 350px;
    }

      div.follow .follow1 
      {
          padding-right: 14px;
      }

      .socials 
      {
          font-size: 12px;
      }

    img.imgcarusel 
    {
      margin-left: -25px;
    }
    
    .carousel .carousel-item h2 
    {
      margin-left: -25px;
    }

    .carousel .carousel-item p 
    {
      margin-left: -25px;
    }
  }
  @media (min-width: 1600px)
  {
    .main{
      height: 450px;
    }
  }
}